<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luxw.app.mapper.OfferLandingPageMapper">
  <resultMap id="BaseResultMap" type="cn.luxw.app.domain.db.OfferLandingPage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="offer_id" jdbcType="INTEGER" property="offer_id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="preview_url" jdbcType="VARCHAR" property="preview_url" />
    <result column="destination_url" jdbcType="VARCHAR" property="destination_url" />
    <result column="partner_id" jdbcType="INTEGER" property="partner_id" />
    <result column="create_time" jdbcType="INTEGER" property="create_time" />
    <result column="update_time" jdbcType="INTEGER" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, offer_id, status, preview_url, destination_url, partner_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from offer_landing_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from offer_landing_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.luxw.app.domain.db.OfferLandingPage">
    insert into offer_landing_page (id, name, offer_id, 
      status, preview_url, destination_url, 
      partner_id, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{offer_id,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{preview_url,jdbcType=VARCHAR}, #{destination_url,jdbcType=VARCHAR}, 
      #{partner_id,jdbcType=INTEGER}, #{create_time,jdbcType=INTEGER}, #{update_time,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.luxw.app.domain.db.OfferLandingPage">
    insert into offer_landing_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="offer_id != null">
        offer_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="preview_url != null">
        preview_url,
      </if>
      <if test="destination_url != null">
        destination_url,
      </if>
      <if test="partner_id != null">
        partner_id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="offer_id != null">
        #{offer_id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="preview_url != null">
        #{preview_url,jdbcType=VARCHAR},
      </if>
      <if test="destination_url != null">
        #{destination_url,jdbcType=VARCHAR},
      </if>
      <if test="partner_id != null">
        #{partner_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=INTEGER},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.luxw.app.domain.db.OfferLandingPage">
    update offer_landing_page
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="offer_id != null">
        offer_id = #{offer_id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="preview_url != null">
        preview_url = #{preview_url,jdbcType=VARCHAR},
      </if>
      <if test="destination_url != null">
        destination_url = #{destination_url,jdbcType=VARCHAR},
      </if>
      <if test="partner_id != null">
        partner_id = #{partner_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=INTEGER},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.luxw.app.domain.db.OfferLandingPage">
    update offer_landing_page
    set name = #{name,jdbcType=VARCHAR},
      offer_id = #{offer_id,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      preview_url = #{preview_url,jdbcType=VARCHAR},
      destination_url = #{destination_url,jdbcType=VARCHAR},
      partner_id = #{partner_id,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=INTEGER},
      update_time = #{update_time,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>